h1 {
  text-align: center;
}

.box1 { 
    max-width: 600px;
    margin: 0 auto;
}

.box2 {
    text-align: center;
    position: relative;
    width: 600px;
    height: 150px;
    background: #eee;
  }

  #bio-image {
    width: 600px;
    height: 400px;